    <!-- Modal Structure -->
    <div class="lean-overlay"></div>
    <div class="row">
      <div class="col s12 m6">
        <div class="modal modal-fixed-footer" id="modalNewUser">
          <div class="modal-content">
            <h4>Cadastre-se</h4>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="name" type="text" class="validate" ng-model="usuarioSendoAdicionado.nome"/>
                  <label for="name">Nome</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" class="validate" ng-model="usuarioSendoAdicionado.email"/>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s3">
                  <input id="birthdate" type="date" class="validate" ng-model="usuarioSendoAdicionado.dataNascimento"/> 
                </div>
                <div class="input-field col s3 offset-s3">
                  <p>
                    <input name="group1" type="radio" value="Feminino" id="F" ng-click="colocarSexo('F')"/>
                    <label for="F">Feminino</label>
                  </p>
                </div>
                <div class="input-field col s3">
                  <p>
                    <input name="group1" type="radio" id="M" value="Masculino" ng-click="colocarSexo('M')"/>
                    <label for="M">Masculino</label>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="login" type="text" class="validate" ng-model="usuarioSendoAdicionado.login">
                  <label for="login">Login</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" ng-model="usuarioSendoAdicionado.senha">
                  <label for="password">Senha</label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect btn-flat">Sair</a>
            <a ng-click="add()" class="modal-action modal-close waves-effect btn-flat">Cadastrar</a>
          </div>
        </div>
      </div>
    </div>





