<head>
    <title> Amicis </title>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>

    <!-- Import our css -->
    <link type="text/css" rel='stylesheet' href='/stylesheets/style.css'/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Adicionar arquivo do Angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script> 
    
    <!-- Compiled and minified JavaScript -->
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/materialize.min.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
<!-- Modal Structure -->
    <div class="row">
      <div class="col s12 m6"> 
        <div class="modal login" id="modalLogin">
          <div class="modal-content">
            <h4>Acessar conta</h4>
            <form class="col s12">
              	<div class="row">
                	<div class="input-field col s12">
                		<span id="erro"></span>
                  		<input id="login" type="text" ng-model="usuarioLogando.login">
                  		<label for="login">Login</label>
                	</div>
              	</div>
              	<div class="row">
                	<div class="input-field col s12">
                  		<input id="password" type="password" ng-model="usuarioLogando.senha">
                  		<label for="password">Senha</label>
                	</div>
              	</div>
            </form>
        </div>
        <div class="modal-footer">
          	<a href="#" class="modal-action modal-close waves-effect btn-flat">Sair</a>
            <a ng-controller="loginController" ng-click="logar()" class="modal-action modal-close waves-effect btn-flat">Entrar</a>
        </div>
    </div>
</body>



