<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title> Amicis </title>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>

    <!-- Import our css -->
    <link type="text/css" rel='stylesheet' href='/stylesheets/style.css'/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Adicionar arquivo do Angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script> 
    
    <!-- Compiled and minified JavaScript -->
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/materialize.min.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/appMaterialize.js"></script>
        
  </head>

  <body ng-controller="loginController" ng-init="init()">
    <div class="row">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Amicis</a>
          <ul class="right hide-on-med-and-down">    

            <!-- Dropdown Structure -->
            <ul id="dropdownMenu" class="dropdown-content">
                <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Bebidas'})">Bebidas </a>
                <li class="divider"></li>
                <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Caldos'})">Caldos </a>
                <li class="divider"></li>
                <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Doces'})">Doces</a>
                <li class="divider"></li>
                <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Salgados'})">Salgados</a>
                <li class="divider"></li>
                <li><a ui-sref="viewRecipesByParam({param : 'tags', valueParam: 'Lalalala'})">  Lalalala </a></li>
            </ul>

            <li><a ng-hide="login" class="menu-itens" ui-sref="login">  Entrar   </a></li>
            <li><a ng-hide="login" class="modal-trigger" ui-sref="newUser">  Cadastre-se   </a></li>

            <li>
              <span ng-show="login"> {{userLogged.nome}} </span>
              <a ng-show="login" class="menu-itens" ng-click="sair()"> Sair </a>              
            </li>

            <!--A variável "login" define se o item irá aparecer qdo o usuário estiver deslogado, ou somente logado -->
            <li><a ng-show="!login" class="menu-itens" ui-sref="login"> Enviar nova receita </a></li>
            <li><a ng-show="login" class="menu-itens" ui-sref="newRecipe"> Enviar nova receita </a></li> 

            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdownUser"><i class="material-icons">list</i></a></li>

          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
        <nav class="segundaL">
            <div class="nav-wrapper segundaL">
                <ul class="hide-on-med-and-down">
                    <!-- <li><a class="modal-trigger" ui-sref="newComment"> Enviar comentário </a></li> -->
                    <!-- <li><a class="modal-trigger" ui-sref="newTag">  Adicionar Tag </a></li> -->
                    <!-- <li><a class="modal-trigger" ui-sref="newCategory">  Adicionar Categoria </a></li> -->                
                    <!-- <li><a  ui-sref="viewTags"> Tags </a></li> -->
                    <!-- <li><a  ui-sref="viewRecipesByParam({param : 'viewRecipes'})">  ver Receitas </a></li>  ARRUMAR ARRUMAR ARRUMAR ARRUMAR ARRUMAR-->
                    <!-- <li><a  ui-sref="viewCategories"> Categorias </a></li> -->
                    <!-- <li><a  ui-sref="viewRecipesByParam({param : 'tags', valueParam: 'Lalalala'})">  Lalalala </a></li> -->
                    <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Bebidas'})">Bebidas </a>
                    <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Caldos'})">Caldos </a>
                    <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Doces'})">Doces</a>
                    <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Salgados'})">Salgados</a>                    
                    <li><a class="dropdown-button" href="#!" data-activates="dropdownEstilos">Estilos de vida<i class="tiny material-icons right">arrow_drop_down</i></a></li>

                     <!-- Dropdown Structure -->
                    <ul id="dropdownEstilos" class="dropdown-content">
                        <li><a ui-sref="viewRecipesByParam({param : 'tags', valueParam: 'Sem glúten'})">Sem Glúten</a>
                        <li class="divider"></li>
                        <li><a ui-sref="viewRecipesByParam({param : 'tags', valueParam: 'Sem lactose'})">Sem Lactose</a>
                        <li class="divider"></li>
                        <li><a ui-sref="viewRecipesByParam({param : 'tags', valueParam: 'Vegana'})">Vegana</a>
                        <li class="divider"></li>
                        <li><a ui-sref="viewRecipesByParam({param : 'tags', valueParam: 'Vegetariana'})">Vegetariana</a></li>
                    </ul>

                    <!-- Dropdown Structure -->
                    <ul id="dropdownUser" class="dropdown-content">
                        <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Enviadas'})"> Enviadas</a>
                        <li class="divider"></li>
                        <li><a ui-sref="viewRecipesByParam({param : 'categorias', valueParam: 'Caderno de receitas'})">Caderno de receitas</a>
                        <li class="divider"></li>
                    </ul>

                </ul>
            </div>
        </nav>
    </div>


    <div ui-view class="first">
        <!--onde será colocada as views -->
    </div>


    <div class="carousel carousel-slider center" data-indicators="true" style="height: 250px;">
        <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
        </div>
    </div>


    <!-- Controllers -->
    <script src="/app/auth/controllers/loginController.js"></script>  
    <script src="/app/recipes/controllers/recipeController.js"></script>  
    <script src="/app/comments/controllers/commentController.js"></script> 
    <script src="/app/tags/controllers/tagController.js"></script>
    <script src="/app/categories/controllers/categoryController.js"></script>
    <script src="/app/tags/controllers/tagManagerController.js"></script>  
    <script src="/app/recipes/controllers/recipeManagerController.js"></script>  
    <script src="/app/general/detailsController.js"></script>  


  </body>
</html>
