<h1> Route 2 </h1>


<span>Nome: </span> <br>
<input type="text"     ng-model="usuarioSendoAdicionado.nome"/><br>
<span>Data Nascimento: </span><br>
<input type="text"     ng-model="usuarioSendoAdicionado.dataNascimento"/><br>
<span>Email: </span><br>
<input type="text"     ng-model="usuarioSendoAdicionado.email"/><br>
<span>Sexo: </span><br>
<input type="text"     ng-model="usuarioSendoAdicionado.sexo"/><br>
<span>Login: </span><br>
<input type="text"     ng-model="usuarioSendoAdicionado.login"/><br>
<span>Senha: </span><br>
<input type="password" ng-model="usuarioSendoAdicionado.senha"/><br>
<br>

<a ng-click="add()">Cadastrar</a>

<br><br>  