<!--<h2> Nova Receita </h2>


<span>Nome da receita: </span> <br>
<input type="text"     ng-model="novaReceita.nome"/><br>
<!-- <span>Ingredientes: </span><br>
<input type="text"     ng-model="novaReceita.ingredientes"/><br> -->
<!--
<span>Modo de preparo: </span><br>
<input type="text"     ng-model="novaReceita.modoPreparo"/><br>
<span>Tempo de preparo: </span><br>
<input type="text"     ng-model="novaReceita.tempoPreparo"/><br>
<span>Rendimento: </span><br>
<input type="text"     ng-model="novaReceita.rendimento"/><br>
<!-- tags -->
<!-- categorias -->
<!--

<a ng-click="add()">Cadastrar</a>

<br><br>  -->

<!-- Modal Structure -->
    <div class="row">
      <div class="col s12 m6">
        <div class="modal" id="modalNewRecipe">
          <div class="modal-content">
            <h4>Nova receita</h4>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="name" type="text" class="validate" ng-model="novaReceita.nome"/>
                  <label for="name">Nome</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
          		  <textarea id="textarea" class="materialize-textarea" placeholder="Por favor, separe os ingredientes por vírgulas. Ex.: '1 colher de açúcar, 2 colheres de sal'" ng-model="novaReceita.ingredientes"></textarea>
                	<label for="textarea" class="active">Ingredientes</label>
              	</div>
              </div>
              <div class="row">
                <div class="input-field col s12">
          		  <textarea id="textarea" class="materialize-textarea" ng-model="novaReceita.modoPreparo"></textarea>
                	<label for="textarea">Modo de preparo</label>
              	</div>
              </div>
              <div class="row">
                <div class="input-field col s4" ng-controller="categoryController" ng-model="novaReceita.categorias">

				    <select name="categorias" ng-model="novaReceita.categorias">
				      <option value="" disabled selected>Escolha uma categoria</option>
				      <option value="{{n.nome}}" ng-repeat="n in itens"> {{n.nome}} </option>		
                    
				    </select>            

				</div>
				<div class="input-field col s4 offset-s2" ng-controller="tagController">

            <select name="tags" id="tags" ng-model="novaReceita.tags" multiple>
              <option value="" disabled selected>Tags</option> 
              <option value="{{n.nome}}" ng-repeat="n in itens">{{n.nome}}</option>
            </select><br>
            
				</div>
			   </div>
              <div class="row">
              	<div class="input-field col s3">
                  <input id="name" type="number" class="validate" ng-model="novaReceita.tempoPreparo"/>
                  <label for="name">Tempo de preparo</label>
                </div>
                <div class="input-field col s3 offset-s3">
                  <input id="name" type="number" class="validate" ng-model="novaReceita.rendimento"/>
                  <label for="name">Rendimento</label>
              	</div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <!-- <a href="#!" class="modal-action modal-close waves-effect btn-flat">Sair</a>
            <a ng-click="add()" class="modal-action modal-close waves-effect btn-flat">Cadastrar</a> --> 
            <a ng-click="add()" >Cadastrar</a>

          </div>
        </div>
      </div>
    </div>