<h2> Nova Receita </h2>


<span>Nome da receita: </span> <br>
<input type="text"     ng-model="novaReceita.nome"/><br>
<!-- <span>Ingredientes: </span><br>
<input type="text"     ng-model="novaReceita.ingredientes"/><br> -->
<span>Modo de preparo: </span><br>
<input type="text"     ng-model="novaReceita.modoPreparo"/><br>
<span>Tempo de preparo: </span><br>
<input type="text"     ng-model="novaReceita.tempoPreparo"/><br>
<span>Rendimento: </span><br>
<input type="text"     ng-model="novaReceita.rendimento"/><br>
<!-- tags -->


<a ng-click="add()">Cadastrar</a>

<br><br>  