<h2>{{i.nome}}</h2>

<ul class="collection">
    <li class="collection-item avatar" ng-repeat="i in itens">
        <img class="receita" src="/images/c1.jpg"/>
      	<a href="item.html" class="title">{{ i.nome }}</a>
      	<!-- <a ng-click="add(i)" ng-controller="bookController"> Adicionar ao livro de receitas </a> -->
	    <span class="info receita dir"> 
	    	Enviado por: {{ autorRecipe}}<br>
	    </span>
	    	
	    	<div class="tags receita dir">
		    	<span  > Tags: </span>
		    	<ul>
		    		<li ng-repeat="tag in i.tags"> {{tag}} </li>
		        <ul>
	        </div>	    

	    <span class="info receita esq"> 
	    	Tempo Rendimento: {{ i.tempoPreparo }} minutos<br>
	    	Avaliação: {{ i.avaliacao }}
	    </span>
    </li>
 </ul>