<h2>{{title}}</h2>

<ul class="collection">
    <li class="collection-item avatar" ng-repeat="i in itens">
        <img class="receita" src="/images/c1.jpg"/>

        <a class="title" ui-sref="details"> {{ i.nome }}</a>
      	<!-- <a ui-sref="details"  ng-click="detailsOf(i._id)" class="title"> {{ i.nome }}</a> -->
      	<!-- <a ng-click="add(i)" ng-controller="bookController"> Adicionar ao livro de receitas </a> -->
	    <span class="info receita dir"> 
	    	Enviado por: {{autorRecipe}}<br>
	    </span>
	    	
	    <div class="tags receita dir">
		    <span > Tags: </span>
		    <div class="chip" ng-repeat="tag in i.tags">
				<span> {{tag}} </span>
			</div>
	    </div>	    

	    <span class="info receita esq"> 
	    	Tempo: {{ i.tempoPreparo }} minutos<br>
	    	Rendimento: {{i.rendimento}} porções<br>
	    	Avaliação: {{ i.avaliacao }}
	    </span>
    </li>
 </ul>